body {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    background-color: #2b2f44;
    color: #a5aac6;
}

.card {
    background-color: #3f4561;
}

h2 {
    font-size: 30px;
    color: #ac9fff;
}

h1 {
    font-size: 48px;
    color: #00c0aa;
}

button {
    background-color: #2b2f44!important;
    color: #a5aac6!important;
}

#plaintextInput, #ciphertextInput, #keyEncryptInput, #keyDecryptInput {
    background-color: #2b2f44!important;
    border: none;
    color: #a5aac6;
}